body {
    background-color: #424343;
}

.welcome {
    font-size: 80pt;
    font-weight: 800;
    line-height : 100px;
    text-transform: uppercase;
    color : rgb(243, 165, 158);
    font-family: 'Montserrat', sans-serif;
}
