@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800,900&display=swap&subset=cyrillic');
:root {
    --header-font-size: 9vw;
    --main-padding: 20px;
}

body {
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: var(--header-font-size);
    line-height: var(--header-font-size);
    font-weight: 800;
    text-transform: uppercase;
    color: rgb(243, 165, 158);
    font-family: 'Montserrat', sans-serif;
}

h2 {
    hyphens: auto;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #424343;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    hyphens: auto;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

a {
    background-color: rgb(243, 165, 158);
    color: #424343;i
    font-weight: 600;
}

a:hover {
    background-color: aqua
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #424343;
    hyphens: auto;
}

.footer_p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color: #ffffff;
    hyphens: auto;
    width: 50%;
    padding-bottom: 5%;
}

.welcome {
    background-color: #424343;
    padding: var(--main-padding) var(--main-padding) 0;
    box-sizing: border-box;
    height: 100vh;

    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo > div {
    display: flex;
}

.logo > div > * {
    margin-bottom: var(--main-padding);
    margin-right: 10px;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    align-items: flex-start;
    background-color: #424343;
    padding: 3%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

@media (max-width: 500px) {
    :root {
        --header-font-size: 8.5vw;
        --main-padding: 10px;
    }
}